.nav__mobile {

  &--hamburger {
    width: 45px;
    height: 45px;
    transition-duration: 0.3s;
    cursor: pointer;
    z-index: 20;
    position: relative;

    span,
    span:before,
    span:after {
      position: absolute;
      left: 0;
      width: 100%;
      transition-duration: 0.3s;
      background-color: black;
      border-radius: 0.3rem;
      background-color: var(--primary-color);
      border: none;
    }

    span {
      height: 3px;
      content: "";
      top: 50%;
      transform: translateY(-50%);
      
      &:before {
        height: 3px;
        content: "";
        top: -12px;
      }

      &:after {
        height: 3px;
        content: "";
        top: 12px;
      }
    }
  }
}

