*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * {
    border: 1px solid green;
} */

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    background-color: var(--background-color);
    scroll-behavior: smooth;
    color: var(--font-color);
    overflow:auto
}


ul {
    list-style: none;
    text-align: left;
}

u {
    cursor: pointer;
}

button,
select,
input,
li,
a,
label {
    text-decoration: none;
    cursor: pointer;
    border: none;
    transition: all .3s ease-in-out;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 5px;
    font-size: 16px;
}

button:disabled{
    background-color: rgb(187, 187, 187);
}

button:focus {
    outline: none;
}

button:hover {
    transform: scale(1.1);
}

input {
    width: 100%;
    padding: 8px 12px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    border-radius: 3px;
}

input:focus,
input:active {
    outline: none;
    border: 2px solid var(--primary-color);


}

input[type=submit],
input[type=sumbit]:active {
    outline: none;
}

input[type=submit] {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border-radius: 5px;
}

input[type=submit]:hover {
    background-color: var(--primary-color);
}

img {
    width: 100%;
}


.close {
    position: absolute;
    right: 40px;
    top: 40px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    transition: all .3s ease;
    cursor: pointer;
}

.close:hover {
    opacity: .9;
}

.close:before,
.close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 3px;
    border-radius: 1.5px;
    background-color: #333;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.closeLight {
    opacity: 0.5;
    width: 45px;
    height: 45px;
    top: 50px;
    right: 50px;
}

.closeLight:before,
.closeLight:after {
    background-color: rgb(255, 255, 255);
    height: 46px;
}

.closeLight:hover {
    opacity: 1;
}